2705889,System requirements specification,https://en.wikipedia.org/wiki?curid=2705889, 
system,requirements,specification,system,requirements,specification,syrs,abbreviated,sysrs,need,distinct,software,requirements,specification,srs,structured,collection,information,embodies,requirements,system,business,analyst,ba,sometimes,titled,system,analyst,responsible,analyzing,business,needs,clients,stakeholders,help,identify,business,problems,propose,solutions,within,systems,development,life,cycle,domain,ba,typically,performs,liaison,function,business,side,enterprise,information,technology,department,external,service,providers